html,
body,
#__next {
  accent-color: #c88d2d;
  scroll-behavior: smooth !important;
  scroll-padding-top: 9.75rem;
  // don't let height go below 100%
  min-height: 100vh;
  min-height: 100dvh;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

::selection {
  background: #ff712f;
  color: #222;
}

// *,
// *::before,
// *::after {
//   outline: solid olivedrab 1px !important; //? use for debugging layouts
// }
